.createTodoButton {
  background-color: #4caf50;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 36px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;

  transform: scale(1);
  transition: 0.3s ease;
}

.createTodoButton:hover {
  background-color: #50ba54;
  transform: scale(1.2);
}