footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 24px;
    width: 100%;
    background-color: #e6e6e6;
    color: #1E1E1F;
    text-align: center;
}

a {
    color: #1E1E1F;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #4caf50;
}
